noscript {
height: 100%;
overflow: hidden;
margin: 0;
width: 100%;
left: 0;
top: 0;
position: fixed;
z-index: 9;
background-color: black;
 overflow-y: hidden;
}


body {

	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	overflow: hidden

	touch-action: none;

 
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
 
 width:max-content;
 background:  radial-gradient(79% 150% at 29% 100%, rgba(14, 43, 47, 0.541) 0%, rgba(14, 43, 47, 0.69) 32%, rgba(14, 43, 47, 0.788) 79%), url("imgs/assets/bg.png") no-repeat fixed center;
 background-size: cover;
 background-color:#2e3b3f;
 
}



@media only screen and (max-width: 420px) {
	box-content {
		width:90%;
  }
	
	.box {
		width:90%;
		}
	
	

	
}


.container {
	width:100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding:0;
	margin:0;
	
	
}

	
	
	@media only screen and (min-width: 420px) {
		box-content {
			width:400px
	  }
		
		.box {
			width:400px;
			}
		
		
	
		
		
	
		
	}
	
	

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}



.box {
	animation: fadeIn 3s;
border-radius:25px;
	color:white;
	background-image: linear-gradient(265deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.24) 100%);

	height:400px;
	box-shadow: 0rem 4.25rem 6.75rem 1.125rem rgba(14,43,47,0.49);
}
	
	

	
	
	
	box-content {
		
		
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		padding:0;
		margin:0;
	}
	box-content embed {
		
		border-radius:23.33%;
		width:115px;
		height:115px;
	}
	
	
	box-content h1 {
		
		color:rgba(255,255,255,0.588);
		opacity:0.9;
		font-weight:250;
	}
	
	
	box-content h5 {
		
		color: rgba(255,255,255,0.588);
			opacity: 1;
			font-weight: 500;
			width:80%;
	}
	
	
	
	
	
	
	
	
	
	box-content hr {
	
			background-color: rgba(255,255,255,0.388);
			opacity: 0.5;
			width: 100%;
			align-items: center;
			border: 0;
	height:2px;
	}
	
	
	box-content .download {
		background: none;
			color: inherit;
			border: 2;
			border-color:#fff;
			border-radius:10px;
			padding: 10;
			margin-top:20px;
			width:70%;
			box-shadow: none;
			font: inherit;
			cursor: pointer;
			outline: inherit;
			border-image:none;
			font-weight: 550;
		border: 2px solid;
		
	}
	
	


@keyframes slideIn {
0% { width: 0%; }
100% { width: 100%; }
}


@keyframes slideOut {
0% { width: 100%; }
100% { width: 0%; }
}

	
	
	slider {
	
		z-index:999;
		position:fixed;
		top:0;
		right:0;
		background-color:white;
		width: 0%;
	
		height:100%;
	
		background: #fff url('imgs/assets/2bg.png') no-repeat top ;
		background-size: cover;
		
	}
	


	
	a{
		text-decoration:none;
	}

	.logo
	{
		border-radius:23.3%;
		Width:105px;
		Height:105px;
	}
	H4{
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	
	width:300px;
	}
	
	
	
	.GFG {
		
		background: linear-gradient(45deg, cyan, #027bfd);
		background-size:100%;
		border-radius: 20px;
		
		border: none;
		color: White;
		padding: 5px 10px;
		text-align: center;
		display: inline-block;
		font-size: 20px;
		width: 275px;
		height: 55px;
		
	margin-top:-0px;
		margin-bottom:10px;
		cursor: pointer;
		margin:10;
	}
	
	.GFG1 {
		
		background: linear-gradient(90deg,#ffe188 9%,#ffbe51 97%);
		background-size:100%;
		border-radius: 20px;
		
		border: none;
		color: White;
		padding: 5px 10px;
		text-align: center;
		display: inline-block;
		font-size: 20px;
		width: 275px;
		height: 55px;
	
		cursor: pointer;
		margin:10;
	}

.GFG2 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(184,15,15,1) 0%, rgba(255,190,0,1) 100%);
    background-size: 100%;
    border-radius: 20px;
    border: none;
    color: White;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 275px;
    height: 55px;
    cursor: pointer;
    margin: 10;
}



.back {
	
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		float:left;
		width:95;
		height:60;
		background:  url("imgs/assets/back.png") no-repeat ;
		background-size: cover;
}











/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 14px;
	padding: 12px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -116px;
}


.popup .popuptext a {
	text-decoration: underline;
  color: #fff;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

